body.font{
	font-family: Arial, Verdana, sans-serif;
	text-indent: 50px;
	 line-height: 1.5;
}
ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;

}
a.fontsize{font-size: 35px;padding-top: 1px;}
li{float: right;
	padding-top: 20px;
}
li a {
  display: inline;
  color: black;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}
a.active{
	background-color: #5D3FD3;
	border-radius: 15px;
	color: white;
	text-align: center;
}
li.text{
	text-align: center;
}
div.static {
	position: static;
	padding-top: 100px;
  	padding-bottom: 100px;
  	padding-right: 340px;
  	padding-left: 340px;
}
div.static > div{
	position: absolute;
	width: 250px;
  height: 200px;
 	color: #5D3FD3;
  transform: rotate(90deg);
  top: 200px;
  right: 16px;
  font-size: 15px;

}
h1{text-align: center;}
p{text-align: center;}
img.girl{display: block;
	margin-left: auto; 
	margin-right: auto;
	padding-top: 50px;
	width:50%;
	border-radius: 50%; }
div.static1 {
	position: static;
	background-color: #5D3FD3;
	padding-top: 100px;
  	padding-bottom: 100px;
  	padding-right: 325px;
  	padding-left: 325px;
  	
}
h2{text-align: center;
	color: white;}
p.p1{text-align: center;
		
	}
.flex-container {
	justify-content: center;
	position: relative;
	margin-top: -80px;
	display: flex;

}
div.flex-container > div {

	flex-basis: 280px;
  background-color: white;
  margin: 0px;
  text-align: justify;
  border:  1px solid grey;
  border-radius: 13px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;

}
div.border{
	border-radius: 0px;
}
img.icon{display: block;
	margin-left: auto; 
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 10px;
	width:60px;
	color: #5D3FD3;
	 }
h3{text-align: center;}
h2.head{text-align: center;
	color: black;
	padding-top: 50px;}
p.p1{
	padding-bottom: 50px;
	color: black;
}
div.flex_container{
	padding-top: 5px;
display:  flex;
justify-content: center;
flex-direction: row;
}
div.flex_container >div{
  width: 300px;
  padding-top: 200px;
  margin: 10px;
  line-height: 200px;
  border:  1px solid grey;
  border-radius: 9px;
}
div.div1{background-color: #87CEFA;}
div.div2{background-color: #DDA0DD;}
div.div3{background-color: #90EE90;}
div.div4{background-color: #FFC0CB;}
div.div5{background-color: #FFDEAD;}
div.div6{background-color: #9370DB;}

div.container{
	padding-top: 50px;
	padding-bottom: 50px;
display:flex;
justify-content: center;

}
div.container > div{
	color: white;
	background-color: #5D3FD3;
	line line-height: 20px;
  width: 190px;
  border:  1px solid grey;
  border-radius: 15px;
  padding-right: 30px;
}
div a {
  display: block;
  color: white;
  text-align: center;
  width: 190px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

div.flex{
	
	justify-content: center;
	position: relative;
	margin-bottom: -60px;
	display:flex;
}
div.flex >ul{

	color: white;
	padding-top: 5px;
  background-color: #0F1B45;    
	width: 950px;
	border-radius: 13px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 20px;
	padding-left: 0px;
}
div.flex >ul li span div {
	color: white;
	background-color: #0F1B45;
	line line-height: 20px;
  width: 150px;
  border:  3px solid grey;
  border-radius: 15px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
div.static2 {
	position: static;
	background-color: #5D3FD3;
	margin: 0px;
  line-height: 200px;
	padding-top: 300px;
  	padding-bottom: 300px;
  	padding-right: 325px;
  	padding-left: 325px;



